@tailwind base;

@tailwind components;

@tailwind utilities;

:root {
  --color-light-gray: #f9f9fb;
  --color-medium-gray: #9ba9c5;
  --color-dark-gray: #1e1a2c;
  --color-white: #fff;
  --color-white-transparent: rgba(255, 255, 255, 0.15);
  --color-purple: #434190;
  --color-teal: #38b2ac;
  --color-yellow: #ecc94b;

  --theme-background: #1e1a2c;
  --theme-body: #fff;
  --theme-transparent: rgba(255, 255, 255, 0.15);
  --theme-primary: #434190;
  --theme-secondary: #38b2ac;
  --theme-accent: #ecc94b;
  --theme-invert: #1a202c;
}

body {
  @apply bg-gray-200;
}

.mode-dark body {
  @apply bg-gray-900;
}

.markdown * + * {
  margin-top: 1.5em;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-display font-normal;
}

@supports (font-variation-settings: "wght" 450) {
  h1, h2, h3, h4, h5, h6 {
    font-weight: 450;
  }
}
